@page
@model FollowingMessagesModel
@{
}

<div class="container">
    <div class="starter-template">
        <h1>Messages i follow</h1>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Message</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in Model.Messages)
                    {
                        <tr>
                            <td>Username: @message.UserName</td>
                            <td>@message.Text</td>
                            <td>@message.TimeStamp</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
