@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="starter-template">
        <h1>This is the overview!</h1>
        @if (Model.Username != null)
        {
            <p>Welcome: @Model.Username</p>
        }

    </div>
</div>
